#game-board {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.cell {
    font-size: 5em;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    cursor: pointer;
    /* background-color: #fff; */
}

.cell:hover {
    background-color: #0050A0;
}

#reset {
    margin-top: 20px;
    color: black;
    padding: 0.5em 1em;
}

#score {
    font-size: 1.5em;
    margin-bottom: 10px;
}
