/* Game CSS */
.game-container {
    display: flex; /* Align children side by side */
    height: 95vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 5em;
}

/* Game area */
.game-area {
    width: 30vw;
    height: 30vw;
    background: #102B47;
    border-radius: 10px;
}

/* Score display section */
.score-display {
}

.your-score {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

/* Go Back Button */
#go-back {
    width: 193px;
    height: 66px;
    background: #1A4774;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 26px;
}

/* Leaderboard */
.leaderboard-game {
    width: 300px;
    top: 50%;
    background: #102B47;
    border-radius: 10px;
    padding: 20px;
}

.leaderboard-entry {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FFFFFF; /* Add separator line */
    padding: 5px 0;
    color: #FFFFFF;
}
