/* Game CSS */
.game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: auto; /* Changed to allow scrolling within the game area */
    background: linear-gradient(166.97deg, #000000 0%, #102B47 85.8%);
    display: flex; /* Align children side by side */
}

/* Game area */
.game-area {
    position: relative;
    width: 711px;
    height: 684px;
    margin: auto; /* Centered horizontally */
    background: #102B47;
    border-radius: 10px;
}

/* Score display section */
.score-display {
    position: absolute;
    left: 41px;
    top: 50%; /* Center vertically where necessary */
    transform: translateY(-50%); /* Adjust for true vertical centering */
}

.your-score {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

/* Go Back Button */
#go-back {
    width: 193px;
    height: 66px;
    background: #1A4774;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 26px;
}

/* Leaderboard */
.leaderboard {
    position: absolute;
    width: 286px;
    top: 50%;
    left: calc(100% - 300px); /* Adjust position for side alignment */
    background: #102B47;
    border-radius: 10px;
    padding: 20px;
}

.leaderboard-entry {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FFFFFF; /* Add separator line */
    padding: 5px 0;
    color: #FFFFFF;
}
