body {
    place-items: center;
}

form {
    height: 40%;
    width: 30%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    
    text-align: center;

    background-image: linear-gradient(#172F49);
    border-radius: .5em;
}

label {
    text-align: left;
    margin: 2em 0 .5em 0;
}

input {
    color: black;
    height: 2.5em;
    border-radius: .5em;
}

button {
    align-self: center;

    height: 3em;
    width: 15em;
    border-radius: .7em;
    margin: 3em 0 3em 0;

    color: white;
    background-color: #204973;
}

a {
    color: rgb(0, 136, 255);
}