
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(166.97deg, #000000 0%, #102B47 85.8%);
}

h1 {
    color: #FFFFFF;
}

a {
    color: #1A4774;
}

.login-container {
    width: 990px; /* Adjust width as needed */
    height: auto;
    background: #102B47;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login-title {
    text-align: center;
    color: #FFFFFF;
}

.form-row {
    display: flex; /* Create a two-column layout */
    margin: 20px 0;
}

.form-column {
    flex: 1; /* Equal width for each column */
    padding: 10px; /* Space between columns */
}

.username-field,
.password-field {
    box-sizing: border-box;
    width: 100%; /* Full width */
    background: #FFFFFF;
    border: 3px solid #4B6279;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px; /* Add padding inside inputs */
}

.label {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.9;
}

.login-button {
    width: 100%;
    height: 48px;
    background: #1A4774;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    border: none;
    margin-top: 20px;
}

.login-button:hover {
    background: #133353;
}

.register-text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}

/* Optional styles for select elements */
select {
    box-sizing: border-box;
    width: 100%; /* Full width */
    background: #FFFFFF;
    border: 3px solid #4B6279;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px; /* Add padding inside select */
}

/* Optional styles for the date input */
input[type="date"] {
    box-sizing: border-box;
    width: 100%; /* Full width */
    background: #FFFFFF;
    border: 3px solid #4B6279;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px; /* Add padding inside date picker */
}
